footer{
  padding: 50px 0;
  .footer-claim-left{
    float: left;
    width: 20%;
    margin-right: 100px;
  }
  nav{
    .footer-menu{
      float: left;
      width: 12%;
      .footer-list{
        list-style: none;
        li{
          padding: 5px 0;
        }
      }
    }
  }
}
