@media all and (max-width: 900px) {
  .jumbo-left{
    @include jumbo-width-float-mobile;
  }
  .jumbo-right{
    @include jumbo-width-float-mobile;
    img{
      width: 500px;
    }
  }
}
header{
  .jumbotron{
    padding: 50px 0;
    .jumbo-left{
      @include jumbo-width-float-desktop;
    }
    .jumbo-right{
      @include jumbo-width-float-desktop;
      img{
        width: 100%;
      }
    }
  }
}
