header{
  .jumbotron{
    padding: 50px 0;
    .jumbo-left{
      @include width50-float-left-desktop;
      @media all and (max-width: 900px) {
        @include width100-float-none-mobile;
        text-align: center;
      }
    }
    .jumbo-right{
      @include width50-float-left-desktop;
      @media all and (max-width: 900px) {
        @include width100-float-none-mobile;
      }
      img{
        width: 100%;
      }
    }
  }
}
