@mixin details-buttons{
  font-weight: bold;
  border-radius: 5px;
  color: $third-color;
  border: 1px solid $second-color;
}
@mixin text-color-margin-bottom{
  color:$first-color;
  margin-bottom: 30px;
}
@mixin width100-float-none-mobile{
  float: none;
  width: 100%;
}
@mixin width50-float-left-desktop{
  float: left;
  width: 50%;
}
@mixin width50-float-right-desktop{
  float: right;
  width: 50%;
}
