@media all and (max-width: 900px) {
  .navbar-right{
    display: none;
  }
  .burger{
    display:block;
    float: right;
  }
}

.navbar{
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid $first-color;
  position: sticky;
  .navbar-left{
    width: 30%;
    float: left;
  }
  .navbar-right{
    float:right;
    width: 70%;
    text-align: right;
  }
}
