// variabili tipografia
  // font family
    $font-family: 'Lato', sans-serif;
  //text-color
    $first-color: #58402c;
    $second-color: #2c4792;
    $third-color: #fff;
    $fourth-color: #5b70aa;
    $fifth-color: #fee7d1;
  // font sizes
    $h1-font-size: 45px;
    $h2-font-size: 35px;
    $h3-font-size: 25px;
    $subtitle-font-size: 25px;
    $p-font-size: 20px;
    $figcaption-font-size: 15px;
    $font-size-small: 14px;
  //line-height
    $h1-line-height: 60px;
    $h2-line-height: 50px;
    $h3-line-height: 35px;
    $subtitle-line-height: 40px;
    $p-line-height: 25px;
  // font weight
    $font-weight: bold;

// variabili bottoni
  $button-border-radius: 5px;
  $button-big-padding: 10px;
  $button-small-padding: 5px;

// variabili vignette
  $small-vignette-height: 100px;
  $main-vignette-height: 350px;
